body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  h1 {
    margin: 0;
    font-size: 36px;
    color: #444444;
  }
  form {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 20px #e6e6e6;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #444444;
  }
  input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    background-color: #0080ff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #005ce6;
  }
  footer {

    padding: 20px;
    text-align: center;
    font-size: 14px;
    
  }

  img[src='images/MacLogo.png'] {
    height: 70px;
   }

   body {
    background-image: url('images/Question.jpg');
    background-size: cover;
    
  }



  /*This is for my GIF*/
  .navbar-gif {
    height: 150px;
    
  }

/*This is for my footer*/
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .wrapper {
    min-height: 100%;
    margin-bottom: -60px;
  }
  
  .site-footer {
    height: 60px; 
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #000000;
    border-top: 1px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .site-footer p {
    margin: 0;
  }
  
  .site-footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .site-footer a:hover {
    color: #f0ad4e;
  }
  
  