body {
    background-image: url('images/Group\ Mac2.jpg');
    background-size: cover;
  }

  p {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(255, 250, 250, 0.5);
  }

  .card-deck {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    margin: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 18rem;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  
/*Logo in the Nav Bar*/
img[src='images/MacLogo.png'] {
  height: 70px;
 }
 

 /*This is for my Footer*/
 html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px; 
}

.site-footer {
  height: 60px; 
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  border-top: 1px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer p {
  margin: 0;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.site-footer a:hover {
  color: #f0ad4e;
}

  