.logo-img {
  
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.logo-img {
  display: block; /* Ensures the image is centered as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  text-align: center; /* Centers the image vertically */
  opacity: 0.9;
  border: 5px solid #555;
}





body {
  background-image: url('images/GroupCenter.jpg');
  background-size: cover;
  
}

p {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgba(253, 249, 249, 0.877);
  font-size: 22px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}


/*Logo in the Nav Bar*/
img[src='images/MacLogo.png'] {
 height: 70px;
}


.card {
  margin: auto;
  max-width: 500px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-header {
  background-color: #fff;
  border-bottom: none;
  padding-bottom: 0;
  text-align: center;
  font-weight: bold;
}
.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
}

.navbar-gif {
  height: 150px;
  display: block;
  margin: auto;
  
}


/*Footer style*/
html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px; /* adjust this value to match your footer's height */
}

.site-footer {
  height: 60px; /* adjust this value to match your footer's height */
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border-top: 1px solid #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-footer p {
  margin: 0;
}

.site-footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}

.site-footer a:hover {
  color: #f0ad4e;
}


/* Bulleted List*/
.containerfooter {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container h2 {
  margin-top: 0;
}

.container ul {
  list-style: disc;
  margin: 0;
  padding: 0 0 0 20px;
}


