.logo-img {
  float: column;
  width:  300px;
  height: 300px;
  object-fit: cover;
}

.logo-img {
  display: block; /* Ensures the image is centered as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  text-align: center; /* Centers the image vertically */
  opacity: 0.9;
  border: 5px solid #555;
}





body {
  background-image: url('images/GroupCenter.jpg');
  background-size: cover;
  
}

p {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px rgba(253, 249, 249, 0.877);
  font-size: 22px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}


/*Logo in the Nav Bar*/
img[src='images/MacLogo.png'] {
 height: 70px;
}
